@import 'utils';

.notification {
    position: fixed;
    top: 15px;
    right: 60px;
    background-color: $white;
    color: $black;
    padding: 0;

    > h4 {
        width: 400px;
        height: 80px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.active,
        &:hover {
            color: $white;

            &::before {
                width: 100%;
            }
        }

        &::before {
            content: '';
            width: 3%;
            height: 100%;
            background-color: $green;
            transition: all 0.4s ease;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .details {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: $white;
        max-height: 600px;
        overflow-y: auto;

        > li {
            padding: 10px 20px;
            border-bottom: 1px solid $grey;

            &:hover {
                background-color: $color-warn;
            }

            > p {
                margin: 5px 0;
            }
        }
    }

    .clear-btn {
        width: 100%;
        height: 50px;
        background-color: $white;
        padding: 0;
        cursor: pointer;

        &:hover {
            background-color: $color-fail;
            color: $white;
        }
    }
}
