// Color constants
$black: #11151c;
$black-light: #4a4a4a;

$grey: #b6b6b7;
$grey-light: #d8d8d8;

$white: #f8f9fa;
$white-dark: #f0f0f0;

$green: #29a3a0;
$green-dark: #189390;

// Semantic colors
$color-fail: #da0e0e;
$color-warn: #fce545;
$color-pass: #2f962f;

$color-brand: #126b95;

// Typography
$base-font: 'Lato', sans-serif;
$title-font: 'Ubuntu', sans-serif;
$font-size: 16px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 20px;

// Break Points
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
