@import 'utils';

.dashboard {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    @include respond-to($bp-md) {
        flex-direction: column;
    }

    .main-panel {
        flex-grow: 1;
        padding: 0 60px;
        flex-direction: column;
    }
}

.dashboard-title {
    font-family: $base-font;
    color: $grey-light;
    font-weight: 100;
    margin-bottom: 40px;
}
