@import 'shared';

.material-form {
    position: relative;
    background: $white;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    transition: 0.3s ease;
    @include material-shadow(1);

    &__background-card {
        background: $white-dark;
        height: 10px;
        border-radius: 5px 5px 0 0;
        margin: 0 10px;
        padding: 0;
    }

    .title {
        position: relative;
        z-index: 1;
        border-left: 5px solid $color-brand;
        margin: 0 0 35px;
        padding: 10px 0;
        color: $color-brand;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    .input-container {
        position: relative;
        margin: 0 60px 50px;
        input {
            outline: none;
            z-index: 1;
            position: relative;
            background: none;
            width: 100%;
            height: 60px;
            border: 0;
            color: $black;
            font-size: 24px;
            font-weight: 400;
            &:focus {
                ~ label {
                    color: #9d9d9d;
                    transform: translate(-12%, -50%) scale(0.75);
                }
                ~ .bar {
                    &:before,
                    &:after {
                        width: 50%;
                    }
                }
            }
            &:valid {
                ~ label {
                    color: #9d9d9d;
                    transform: translate(-12%, -50%) scale(0.75);
                }
            }
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            color: #757575;
            font-size: 24px;
            font-weight: 300;
            line-height: 60px;
            @include transition(0.2s ease);
        }

        .bar {
            position: absolute;
            left: 0;
            bottom: 0;
            background: #757575;
            width: 100%;
            height: 1px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                background: $color-brand;
                width: 0;
                height: 2px;
                transition: 0.2s ease;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }

        &__dropdown {
            .options {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                color: $black;
                background-color: $white;
                position: absolute;
                cursor: pointer;
                z-index: 2;
                @include material-shadow(2);

                li {
                    padding: 10px;
                    &:hover {
                        background-color: $grey-light;
                    }
                }
            }
        }
    }

    .btn-container {
        margin: 0 60px;
        text-align: center;
        button {
            outline: 0;
            cursor: pointer;
            position: relative;
            display: inline-block;
            background: 0;
            width: 240px;
            border: 2px solid #e3e3e3;
            padding: 20px 0;
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            overflow: hidden;
            transition: 0.3s ease;
            span {
                position: relative;
                z-index: 1;
                color: #ddd;
                transition: 0.3s ease;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                background: $color-brand;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin: -15px 0 0 -15px;
                opacity: 0;
                transition: 0.3s ease;
            }
            &:hover,
            &:active,
            &:focus {
                border-color: $color-brand;
                span {
                    color: $color-brand;
                }
            }
            &:active,
            &:focus {
                span {
                    color: $white;
                }
                &:before {
                    opacity: 1;
                    @include transform(scale(10));
                }
            }
        }
    }
}
