@import 'utils';

.fab {
    $size: 50px;
    width: $size;
    height: $size;
    position: fixed;
    bottom: 30px;
    right: 60px;
    background-color: $color-brand;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include border-radius($size);

    > i {
        color: $white;
        font-size: $font-size-lg;
    }
}
