@import 'utils';

.search {
    position: relative;

    .input-container {
        position: relative;

        > input {
            width: 100%;
            height: 60px;
            background-color: $black-light;
            border: none;
            font-size: 24px;
            color: $white;
            padding-left: 20px;
            outline: none;
        }

        &::after {
            content: 'SEARCH';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100px;
            background-color: $color-brand;
            font-family: $title-font;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .results {
        width: 100%;
        max-height: 600px;
        overflow-y: auto;
        padding: 0;
        list-style: none;
        margin: 0;
        color: $black;
        background-color: $white-dark;
        position: absolute;

        li {
            padding: 10px 16px;
            border-bottom: 1px solid $black-light;

            &:hover {
                background-color: $color-warn;
            }

            > p {
                margin: 5px;
            }
        }

        &.tips {
            p {
                margin: 10px;
                line-height: 20px;
            }
        }
    }
}
