@import 'utils';

.total-reports {
    display: flex;
    margin-bottom: 30px;
    @include respond-to($bp-md) {
        flex-direction: column;
        margin: 0;
    }

    .tile-widget {
        margin-right: 30px;
        @include respond-to($bp-md) {
            margin: 0 0 30px 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
